{{ 'section-contact-info.css' | asset_url | stylesheet_tag }}
<div class="contact-wrapper">
  <div class="contact-content">
    <h2 class="contact-title">{{section.settings.contact-title}}</h2>
    <div class="contact-controll-wrapper">
      <button class="contact-button" onclick="showConact(0)">barbershop 1070</button>
      <button class="contact-button-inactive" onclick="showConact(1)">barbershop 1220</button>
    </div>
    <div class="contact-info-div">
      <div class="contact-grid">
        <div class="contact-div1">
          <div id="map">

          </div>
        </div>
        <div class="contact-div2">
          <div class="info-icons">
            <div class="icon-wrapper">
              <img class="info-icon" src="{{'pin.svg' | asset_url }}" alt="Pin icon">
              <p class="icon-text">
                Location:
              </p>
            </div>
            <div>
                <p class="info-text">
                  {{section.settings.contact-location-1}}
                </p>
            </div>
          </div>
          <div class="info-icons">
            <div class="icon-wrapper">
              <img class="info-icon" src="{{'calendarIcon.svg' | asset_url }}" alt="Calendar icon">
              <ul class="icon-list">
                <li>Tu & We:</li>
                <li>Th & Fr:</li>
                <li>Sa:</li>
              </ul>
            </div>
            <div>
              <ul class="icon-list-2">
                <li>{{section.settings.contact-time1-1}} </li>
                <li>{{section.settings.contact-time2-1}}</li>
                <li>{{section.settings.contact-time3-1}}</li>
              </ul>
            </div>
            
            
          </div>
          <div class="info-icons">
            <div class="icon-wrapper">
              <img class="info-icon" src="{{'clock.svg' | asset_url }}" alt="Clock icon">
            <p class="icon-text">
              Closed for Lunch:
            </p>
            </div>
            <div>
              <p class="info-text">
                {{section.settings.contact-lunch-1}}
              </p>
            </div>
            

          </div>
          <div class="info-icons">
            <div class="icon-wrapper">
              <img class="info-icon" src="{{'phone.svg' | asset_url }}" alt="Phone icon">
              <p class="icon-text">
                Contact Phone:
              </p>
            </div>
            <div>
              <p class="info-text">
                {{section.settings.contact-phone-1}}
              </p>
            </div>
            
          </div>
        </div>
        <div class="contact-div3">
          <a href="https://phorest.com/book/salons/brothersbarbershop" target="blank" class="button-small" style="text-align: center; text-decoration: none;">BOOK NOW</a>
          <!-- <button class="button-small">book now</button> -->
        </div>
        <div class="contact-div4">
          <p class="info-text">
            All Bank Cards Are Accepted
          </p>
        </div>
      </div>
    </div>
    <div class="contact-info-div">
      <div class="contact-grid">
        <div class="contact-div1">
          <div id="map2">

          </div>
        </div>
        <div class="contact-div2">
          <div class="info-icons">
            <div class="icon-wrapper">
              <img class="info-icon" src="{{'pin.svg' | asset_url }}" alt="Pin icon">
              <p class="icon-text">
                Location:
              </p>
            </div>
            <div>
                <p class="info-text">
                  {{section.settings.contact-location-2}}
                </p>
            </div>
          </div>
          <div class="info-icons">
            <div class="icon-wrapper">
              <img class="info-icon" src="{{'calendarIcon.svg' | asset_url }}" alt="Calendar icon">
              <ul class="icon-list">
                <li>Tu & We:</li>
                <li>Th & Fr:</li>
                <li>Sa:</li>
              </ul>
            </div>
            <div>
              <ul class="icon-list-2">
                <li>{{section.settings.contact-time1-2}} </li>
                <li>{{section.settings.contact-time2-2}}</li>
                <li>{{section.settings.contact-time3-2}}</li>
              </ul>
            </div>
            
            
          </div>
          <div class="info-icons">
            <div class="icon-wrapper">
              <img class="info-icon" src="{{'clock.svg' | asset_url }}" alt="Clock icon">
            <p class="icon-text">
              Closed for Lunch:
            </p>
            </div>
            <div>
              <p class="info-text">
                {{section.settings.contact-lunch-2}}
              </p>
            </div>
            

          </div>
          <div class="info-icons">
            <div class="icon-wrapper">
              <img class="info-icon" src="{{'phone.svg' | asset_url }}" alt="Phone icon">
              <p class="icon-text">
                Contact Phone:
              </p>
            </div>
            <div>
              <p class="info-text">
                {{section.settings.contact-phone-2}}
              </p>
            </div>
            
          </div>
        </div>
        <div class="contact-div3">
          <a href="https://phorest.com/book/salons/brothersbarbershop" target="blank" class="button-small" style="text-align: center; text-decoration: none;">BOOK NOW</a>
          <!-- <button class="button-small">book now</button> -->
        </div>
        <div class="contact-div4">
          <p class="info-text">
            All Bank Cards Are Accepted
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  var buttons = document.getElementsByClassName("contact-controll-wrapper")[0].children;
var panels = document.getElementsByClassName("contact-info-div");
showConact(0)
function showConact(index) {
  for (let i = 0; i < buttons.length; i++) {
    //change active button
    if (index == i) {
      buttons[i].classList.replace("contact-button-inactive", "contact-button")
      panels[i].style.display = "block"
    } else {
      buttons[i].classList.replace("contact-button", "contact-button-inactive")
      panels[i].style.display = "none"
    }
  }
  if (index == 1) {
    initMap2();
  }
}

initMap()
var url2 = "https://www.google.com/maps/place/Brothers'+Barbershop/@48.2346927,16.4209242,20.25z/data=!3m1!5s0x476d06e86a347c5b:0x9787a410ce5fa308!4m12!1m6!3m5!1s0x0:0xf7a9b06931e117eb!2sIZD+Tower!8m2!3d48.2347117!4d16.4208567!3m4!1s0x476d07158e5745fd:0x375c572b8f377023!8m2!3d48.234889!4d16.4208783"

var url1 = "https://www.google.com/maps/place/Brothers'+Barbershop/@48.2059329,16.3493743,18.92z/data=!3m1!5s0x476d079328443219:0xf4b7d37a8946a0c8!4m5!3m4!1s0x476d079328165a2f:0xda62389dcfc51ff4!8m2!3d48.2060493!4d16.3491734"
function initMap() {
  const uluru = { lat: 48.2060624, lng: 16.3469701 };
  const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 17,
    center: uluru,
    zoomControl: false,
    scaleControl: false,
    fullscreenControl: false,
  });
  const marker = new google.maps.Marker({
    position: uluru,
    map: map,
  });
  marker.addListener("click", () => {
    window.open(
      "https://www.google.com/maps/place/Brothers'+Barbershop/@48.2059329,16.3493743,18.92z/data=!3m1!5s0x476d079328443219:0xf4b7d37a8946a0c8!4m5!3m4!1s0x476d079328165a2f:0xda62389dcfc51ff4!8m2!3d48.2060493!4d16.3491734", "_blank");
  });
  google.maps.event.addDomListener(window, 'resize', initMap);
}
initMap2()
function initMap2() {
  const uluru = { lat: 48.2346927, lng: 16.4209242 };
  const map = new google.maps.Map(document.getElementById("map2"), {
    zoom: 17,
    center: uluru,
    zoomControl: false,
    scaleControl: false,
    fullscreenControl: false,
  });
  const marker = new google.maps.Marker({
    position: uluru,
    map: map,
  });
  marker.addListener("click", () => {
    window.open(
      "https://www.google.com/maps/place/Brothers'+Barbershop/@48.2059329,16.3493743,18.92z/data=!3m1!5s0x476d079328443219:0xf4b7d37a8946a0c8!4m5!3m4!1s0x476d079328165a2f:0xda62389dcfc51ff4!8m2!3d48.2060493!4d16.3491734", "_blank");
  });
  google.maps.event.addDomListener(window, 'resize', initMap);
}
</script>
<script
    src="https://maps.googleapis.com/maps/api/js?key={{section.settings.google-api-key}}&callback=initMap">
</script>
<!-- {{ 'contact-controll.js'  | asset_url | script_tag     }} -->
{% schema %}
  {
    "name": "Contact info",
    "settings": [
      {
        "id": "contact-title",
        "type": "text",
        "label": "Contact title",
        "default":"OUR BARBERSHOPS in vienna"
      },
      {
        "id": "contact-location-1",
        "type": "text",
        "label": "Location 1",
        "default":"Neubaugasse 81, 1070"
      },
      {
        "id": "contact-time1-1",
        "type": "text",
        "label": "Open on TU & WE ",
        "default":"10:00-19:00"
      },
      {
        "id": "contact-time2-1",
        "type": "text",
        "label": "Open on TH & FR ",
        "default":"09:30-19:00"
      },
      {
        "id": "contact-time3-1",
        "type": "text",
        "label": "Open on SA",
        "default":"09:30-17:00"
      },
      {
        "id": "contact-lunch-1",
        "type": "text",
        "label": "Lunch time",
        "default":"14:00-15:00"
      },
      {
        "id": "contact-phone-1",
        "type": "text",
        "label": "Contact phone",
        "default":"019908304 "
      },
      {
        "id": "contact-location-2",
        "type": "text",
        "label": "Location 2",
        "default":"wagramer straße 17-19, 1220  (IZD TOWER) "
      },
      {
        "id": "contact-time1-2",
        "type": "text",
        "label": "Open on TU & WE ",
        "default":"10:00-19:00"
      },
      {
        "id": "contact-time2-2",
        "type": "text",
        "label": "Open on TH & FR ",
        "default":"09:30-19:00"
      },
      {
        "id": "contact-time3-2",
        "type": "text",
        "label": "Open on SA",
        "default":"09:30-17:00"
      },
      {
        "id": "contact-lunch-2",
        "type": "text",
        "label": "Lunch time",
        "default":"14:00-15:00"
      },
      {
        "id": "contact-phone-2",
        "type": "text",
        "label": "Contact phone",
        "default":"019908304 "
      },
      {
        "id": "google-api-key",
        "type": "text",
        "label": "Google maps api key",
        "default":"AIzaSyAcZFNIoS_J5lw7v_yW05525FnCA6eNaqE"
        
      }
      
    ],
    "presets": [
      {
        "name": "Contact info"
      }
    ]
  }
{% endschema %}