{{ 'section-guarantee.css' | asset_url | stylesheet_tag }}
<div class="guarantee-section-wrapper">
  <div class="left-badge-wrapper">

  </div>
  <!-- <img src="{{'guarantee-left.png'| asset_url }}" alt="Guarantee badge" class="left-badge"> -->
    <div class="guarantee-text-wrapper">
      <h2 class="guarantee-title">{{ section.settings.guarantee-title }}</h2>
      <p class="guarantee-text">{{ section.settings.guarantee-text }}</p>
    </div>
    <div class="badge-wrapper">
      <img src="{{'SatisfactionsIcon.svg'| asset_url }}" alt="Guarantee badge" class="right-badge">
    </div>
  <div class="mobile-badge-wrapper">
    <img src="{{'SatisfactionsIcon.svg'| asset_url }}" alt="Guarantee badge" class="mobile-badge">
  </div>
  
</div>
{% schema %}
  {
    "name": "Guarantee",
    "settings": [
      {
        "id": "guarantee-title",
        "type": "text",
        "label": "Guarantee title",
        "default":"our satisfaction guarantee"
      },
      {
        "id": "guarantee-text",
        "type": "textarea",
        "label": "Guarantee text",
        "default":"Your satisfaction is our priority! If for any reason you are not 100% thrilled with your service, you can come back again, and we’ll make it right."
      }
    ],
    "presets": [
      {
        "name": "Guarantee"
      }
    ]
  }
{% endschema %}