{{ 'section-values.css' | asset_url | stylesheet_tag }}
<div class="values-section-container">
  <div class="main-container">
    <h2 class="values-title">{{ section.settings.values-title }}</h2>
    <div class="values-grid">
      <div class="values-div1">
        <img src="{{section.settings.icon-1| img_url: 'medium'}}" alt="Kurier logo" class="values-icon">
      </div>
      <div class="values-div2">
        <img src="{{section.settings.icon-2| img_url: 'medium'}}" alt="DerStandard logo" class="values-icon">
      </div>
      <div class="values-div3">
        <img src="{{section.settings.icon-3| img_url: 'medium'}}" alt="1000 things logo" class="values-icon">
      </div>
      <div class="values-div4">
        <img src="{{section.settings.icon-4| img_url: 'medium'}}" alt="Die Presse logo" class="values-icon">
      </div>
    </div>
    <div class="values-video-wrapper">
      <video id="valuesVideo" playsinline poster="{{section.settings.video-thumbnail | image_url }}">
        <source src="{{'walkIn.mp4' | asset_url }}" type="video/mp4" id="valuesVid">
      </video>
      <div class="video-controll-overlay" id="valuesOverlay">
        <div class="play-icon-wrapper" id="values-play">
          <img src="{{'playIcon.svg'| asset_url }}" id="play3" class="values-play-button" alt="play button">
        </div>
      </div>
    </div>
    <a href="https://phorest.com/book/salons/brothersbarbershop" target="blank" class="button button-primary" style="text-align: center;">BOOK AN APPOINTMENT</a>
  </div>
  
</div>
{{ 'values-video-controll.js'  | asset_url | script_tag     }}
{% schema %}
  {
    "name": "Values",
    "settings": [
    {
      "id": "values-title",
      "type": "text",
      "label": "Title",
      "default":"As seen in"
    },
    {
      "type": "image_picker",
      "id": "video-thumbnail",
      "label": "Video  thumbnail image"
    },
      {
        "id": "icon-1",
        "type": "image_picker",
        "label": "1st icon"
        
      },
      {
        "id": "icon-2",
        "type": "image_picker",
        "label": "2nd icon"
        
      },
      {
        "id": "icon-3",
        "type": "image_picker",
        "label": "3rd icon"
        
      },
      {
        "id": "icon-4",
        "type": "image_picker",
        "label": "4th icon"
        
      }
    ],
    "presets": [
      {
        "name": "Values"
      }
    ]
  }
{% endschema %}