{{ 'section-booking.css' | asset_url | stylesheet_tag }}
<div class="booking-section-wrapper">
  <div class="container-main">
    <h2 class="booking-title">{{ section.settings.booking-title }}</h2>
    <div class="booking-grid">
      <div class="booking-div1">
        <div><h class="numbering">1</h></div>
        <div>
          <h3 class="booking-heading">{{ section.settings.booking-heading-1 }}</h3>
          <p class="booking-text">{{ section.settings.booking-description-1 }}</p>
        </div>
      </div>
      <div class="booking-div2">
        <div class="numbering">2</div>
        <div>
          <h3 class="booking-heading">{{ section.settings.booking-heading-2 }}</h3>
          <p class="booking-text">{{ section.settings.booking-description-2 }}</p>
        </div>
      </div>
      <div class="booking-div3">
        <div class="numbering">3</div>
        <div>
          <h3 class="booking-heading">{{ section.settings.booking-heading-3 }}</h3>
          <p class="booking-text">{{ section.settings.booking-description-3 }}</p>
        </div>
      </div>
    </div>
    <a href="https://phorest.com/book/salons/brothersbarbershop" target="blank" class="button button-primary">book an appointment</a>
  </div>
  
</div>
{% schema %}
  {
    "name": "Booking",
    "settings": [
      {
        "id": "booking-title",
        "type": "text",
        "label": "Booking title",
        "default":"how it works"
      },
      {
        "id": "booking-heading-1",
        "type": "text",
        "label": "Step 1 heading",
        "default":"CHOOSE A LOCATION"
      },
      {
        "id": "booking-description-1",
        "type": "textarea",
        "label": "Step 1 description",
        "default":"Multiple shops. Consistent quality experience."
      },
      {
        "id": "booking-heading-2",
        "type": "text",
        "label": "Step 2 heading",
        "default":"CHOOSE A SERVICE"
      },
      {
        "id": "booking-description-2",
        "type": "textarea",
        "label": "Step 2 description",
        "default":"What do you like? We’ll make it happen."
      },
      {
        "id": "booking-heading-3",
        "type": "text",
        "label": "Step 3 heading",
        "default":"ENJOY YOUR LOOK"
      },
      {
        "id": "booking-description-3",
        "type": "textarea",
        "label": "Step 3 description",
        "default":"Trust us, you’re gonna look amazing."
      }
    ],
    "presets": [
      {
        "name": "Booking"
      }
    ]
  }
{% endschema %}