{{ 'section-expectations.css' | asset_url | stylesheet_tag }}
<div class="expectations-section-wrapper">
  <h2 class="expectations-title">what to expect</h2>
  <p class="expectations-text">So, you’re ready to book an appointment. What next? Once you take that step toward looking and feeling your best, then you can rest assured that we’ll take care of the rest. We promise, you’re making a great choice. Here are a few things you can expect when you come for a cut at one of our shops.</p>
  <div class="expectation-icon-grid">
    <div class="expectation-div1 center">
      <div class="icon-border">
        <img src="{{'icon-cut2.svg'| asset_url }}" alt="Great cut icon" class="expectation-icon">
      </div>
      <h3 class="icon-description">A great cut</h3>
    </div>
    <div class="expectation-div2 center">
      <div class="icon-border">
        <img src="{{'icon-drink2.svg'| asset_url }}" alt="Favorite drink icon" class="expectation-icon">
      </div>
      <h3 class="icon-description">Your favorite drink</h3>
    </div>
    <div class="expectation-div3 center">
      <div class="icon-border">
        <img src="{{'icon-chat2.svg'| asset_url }}" alt="Good conversation icon" class="expectation-icon">
      </div>
      <h3 class="icon-description">Good conversation</h3>
    </div>
    <div class="expectation-div4 center">
      <div class="icon-border">
        <img src="{{'icon-chair2.svg'| asset_url }}" alt="Relax icon" class="expectation-icon">
      </div>
      <h3 class="icon-description">A place to relax</h3>
    </div>
  </div>
</div>