{{ 'section-video-banner.css' | asset_url | stylesheet_tag }}
<div class="banner-text-wrapper">
  <div><h1 class="banner-heading-h1">{{ section.settings.banner-title }}</h1></div>
  
  <h3 class="banner-heading-h3">{{ section.settings.banner-subtitle }}</h3>
  <a class="button button-primary banner-button" href="https://phorest.com/book/salons/brothersbarbershop" target="blank">BOOK AN APPOINTMENT</a>
  <div class="circle1"></div>
  <div class="circle2"></div>
  <div class="circle3"></div>
  <p class="banner-text-small">SCROLL</p>
</div>
<div class="video-section-wrapper">
  
  <div class="frame-container">
    {% if section.settings.show_banner_1 %}
    <img class="bannerImg" src="{{section.settings.banner-image1| image_url: width:1440 ,height:680 }}" style="width:100%;height: 100%;object-fit: cover;" alt="Banner slider image">
    {% endif %}
    {% if section.settings.show_banner_2 %}
    <img class="bannerImg" src="{{section.settings.banner-image2| image_url: width:1440 ,height:680 }}" style="width:100%;height: 100%;object-fit: cover;"alt="Banner slider image">
    {% endif %}
    {% if section.settings.show_banner_3 %}
    <img class="bannerImg" src="{{section.settings.banner-image3| image_url: width:1440 ,height:680 }}" style="width:100%;height: 100%;object-fit: cover;"alt="Banner slider image">
    {% endif %}
    <!-- <video id="bannerVid" muted autoplay loop>
      <source src="{{'walkIn.mp4' | asset_url }}" type="video/mp4" >
    </video>     -->
  </div>
  
</div>
<script>
  var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("bannerImg");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  // console.log(x.length)
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>
{% schema %}
  {
    "name": "Banner",
    "class":"overflow-hidden",
    "settings": [
      {
        "id": "banner-title",
        "type": "text",
        "label": "Banner title",
        "default":"GREAT CUTS. BIG SMILES."
      },
      {
        "id": "banner-subtitle",
        "type": "text",
        "label": "Banner subtitle",
        "default":"Look and feel like your best self."
      },
      {
        "id": "banner-image1",
        "type": "image_picker",
        "label": "Banner image slider 1st image"
        
      },
      {
        "type": "checkbox",
        "id": "show_banner_1",
        "label": "Show banner 1",
        "default": true
      },
      {
        "id": "banner-image2",
        "type": "image_picker",
        "label": "Banner image slider 2nd image"
        
      },
      {
        "type": "checkbox",
        "id": "show_banner_2",
        "label": "Show banner 2",
        "default": false
      },
      {
        "id": "banner-image3",
        "type": "image_picker",
        "label": "Banner image slider 3rd image"
      },
      {
        "type": "checkbox",
        "id": "show_banner_3",
        "label": "Show banner 3",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Banner",
        "category": "Video"
      }
    ]
  }
{% endschema %}