{{ 'section-cuts.css' | asset_url | stylesheet_tag }}
<div class="cuts-wrapper">
  <div class="cuts-content">
    <h2 class="cuts-title">{{ section.settings.service-styles-title }}</h2>
    <div class="slides-wrapper">
      <div class="card-wrapper">
        <div class="video-card">
          <div class="video-wrapper">
            <video id="video1" playsinline>
              <source src="{{'videoCompressed1.mp4' | asset_url }}" type="video/mp4" id="vid">
            </video>
            <div class="video-controll-overlay" id="overlay1">
              <div class="play-icon-wrapper video-section"id="play1">
                <img src="{{'playIcon.svg'| asset_url }}"  class="play-button" alt="play button">
              </div>
            </div>
          </div>
          <h3 class="video-title">{{ section.settings.service-styles-heading1 }}</h3>
          <p class="video-description">{{ section.settings.service-styles-description1 }}</p>
          <p class="video-link">Learn More</p>
        </div>
  
        <div class="video-card">
          <div class="video-wrapper">
            <video id="video2" playsinline>
              <source src="{{'videoCompressed2.mp4' | asset_url }}" type="video/mp4" id="vid">
            </video>
            <div class="video-controll-overlay" id="overlay2">
              <div class="play-icon-wrapper video-section"id="play2">
                <img src="{{'playIcon.svg'| asset_url }}"  class="play-button" alt="play button">
              </div>
            </div>
          </div>
          <h3 class="video-title">{{ section.settings.service-styles-heading2 }}</h3>
          <p class="video-description">{{ section.settings.service-styles-description2 }}</p>
          <p class="video-link">Learn More</p>
        </div>
  
        <div class="video-card">
          <div class="video-wrapper">
            <video id="video3" playsinline>
              <source src="{{'videoCompressed3.mp4' | asset_url }}" type="video/mp4" id="vid">
            </video>
            <div class="video-controll-overlay" id="overlay3">
              <div class="play-icon-wrapper video-section"id="play3">
                <img src="{{'playIcon.svg'| asset_url }}"  class="play-button" alt="play button">
              </div>
            </div>
          </div>
          <h3 class="video-title">{{ section.settings.service-styles-heading3 }}</h3>
          <p class="video-description">{{ section.settings.service-styles-description3 }}</p>
          <p class="video-link">Learn More</p>
        </div>
  
        <div class="video-card">
          <div class="video-wrapper">
            <video id="video4" playsinline>
              <source src="{{'videoCompressed1.mp4' | asset_url }}" type="video/mp4" id="vid">
            </video>
            <div class="video-controll-overlay" id="overlay4">
              <div class="play-icon-wrapper video-section"id="play4">
                <img src="{{'playIcon.svg'| asset_url }}"  class="play-button" alt="play button">
              </div>
            </div>
          </div>
          <h3 class="video-title">{{ section.settings.service-styles-heading4 }}</h3>
          <p class="video-description">{{ section.settings.service-styles-description4 }}</p>
          <p class="video-link">Learn More</p>
        </div>
  
        <div class="video-card">
          <div class="video-wrapper">
            <video id="video5" playsinline>
              <source src="{{'videoCompressed2.mp4' | asset_url }}" type="video/mp4" id="vid">
            </video>
            <div class="video-controll-overlay" id="overlay5">
              <div class="play-icon-wrapper video-section"id="play5">
                <img src="{{'playIcon.svg'| asset_url }}"  class="play-button" alt="play button">
              </div>
            </div>
          </div>
          <h3 class="video-title">{{ section.settings.service-styles-heading5 }}</h3>
          <p class="video-description">{{ section.settings.service-styles-description5 }}</p>
          <p class="video-link">Learn More</p>
        </div>
      </div>
      

      
        <button id="prev" class="slider-controll-icons prev" onclick="plusDivs(-1)">&#10094;</button>
        <button id="next" class="slider-controll-icons next" onclick="plusDivs(1)">&#10095;</button>
      
    </div>
  </div>
</div>
{{ 'cuts-controll.js'  | asset_url | script_tag     }}
{% schema %}
  {
    "name": "Servicestyles",
    "settings": [
      {
        "id": "service-styles-title",
        "type": "text",
        "label": "Section title",
        "default":"our styles"
      },
      {
        "id": "service-styles-heading1",
        "type": "text",
        "label": "Style 1 heading",
        "default":"The style"
      },
      {
        "id": "service-styles-description1",
        "type": "text",
        "label": "Style 1 description",
        "default":"Short description  Short description"
      },
      {
        "id": "service-styles-heading2",
        "type": "text",
        "label": "Style 2 heading",
        "default":"The style"
      },
      {
        "id": "service-styles-description2",
        "type": "text",
        "label": "Style 2 description",
        "default":"Short description  Short description"
      },
      {
        "id": "service-styles-heading3",
        "type": "text",
        "label": "Style 3 heading",
        "default":"The style"
      },
      {
        "id": "service-styles-description3",
        "type": "text",
        "label": "Style 3 description",
        "default":"Short description  Short description"
      },
      {
        "id": "service-styles-heading4",
        "type": "text",
        "label": "Style 4 heading",
        "default":"The style"
      },
      {
        "id": "service-styles-description4",
        "type": "text",
        "label": "Style 4 description",
        "default":"Short description  Short description"
      },
      {
        "id": "service-styles-heading5",
        "type": "text",
        "label": "Style 5 heading",
        "default":"The style"
      },
      {
        "id": "service-styles-description5",
        "type": "text",
        "label": "Style 5 description",
        "default":"Short description  Short description"
      }
    ],
    "presets": [
      {
        "name": "Servicestyles"
      }
    ]
  }
{% endschema %}